doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    canvas(id="myCanvas" width="1400" height="700")
    //- script(src="js/gameobjects.js" defer)
    script(src="js/app.js" defer type='module')